
node_modules/
dist/
temp/
.env
package-lock.json
*.class
*.log
*.jar
target/
dist/
public

.idea/
.vscode

TEST*.xml

.DS_Store

Thumbs.db

*.app
*.exe
*.war

*.mp4
*.tiff
*.avi
*.flv
*.mov
*.wmv

DB/dump/*.gz
DB/dump/*.dev.*

src/prisma/migrations
pdv.tgz
